<footer class="row footer">

    <div class="large-9 columns">

      <ul class="menu simple">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/contact.html">Contact</a>
        </li>
        <li>
          <a href="https://twitter.com/kenbrianbaha" target="_blank" class="follow-button">
            <i class="fa fa-twitter"></i> @kenbrianbaha
          </a>
        </li>
      </ul>

      <p>
        &copy; Copyright  - {{moment format="YYYY"}} <a href="http://ghinda.net">Ionuț Colceriu</a>.
      </p>

    </div>

    <div class="large-3 columns">

      <p class="text-right chrome-app">

        <a href="" title="Get the Chrome app, for easier access." target="_blank">
          <img src="" alt="Available in the Chrome Web Store">
        </a>

      </p>

    </div>

  </footer>
