<div class="sidebar-right">

  <div class="callout warning small warning-safari">
    You seem to be using Safari. If you're having issues editing or downloading your business card, please try using

    <a href="https://www.google.com/chrome/browser/" rel="noopener" target="_blank"><strong>Google Chrome</strong></a>.
  </div>

  {{> help}}

  <div class="card-logaster">
    <h2>
      Evotech innovations
    </h2>


  <div class="logaster-powered">
    Powered by Vilgax ken
    <a href="https://kenb-portfolio-68128.firebaseapp.com/home/one" target="_blank">
    </a>
  </div>
</div>
